[Unit]
Description=Cosmos Exporter
After=network-online.target

[Service]
User=gaia
TimeoutStartSec=0
WorkingDirectory=/home/gaia/go/src/cosmos-exporter
WorkingDirectory=/home/gaia/go/src/cosmos-exporter/cosmos-exporter
Restart=always
RestartSec=2
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
